
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    font-family: sans-serif; 
    font-size: 50px;
    color: #fff;
}
h4{
    font-family: sans-serif; 
    font-size: 30px;
    color: green;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 5px;
    font-style: italic;
    border: 1px double;
    border-color: white;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 20px;
}
h4:hover{
    box-shadow: 2px 4px 4px white;
    cursor: pointer;
}
.Search{
    color: black;
    text-align: center;
    background-image: url("https://images.alphacoders.com/961/96123.jpg");
    background-size: cover;
    padding: 20px;
    text-shadow: 1px 2px 4px gold;
    width: 1600px;
    height: auto;
}
.SearchBar{
    text-align: center;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    color: black;
}
.SearchBar:hover{
        box-shadow: 2px 4px 4px white;
        text-shadow: 1px 2px 4px wheat;
}
.SearchElement{
    background-color: black;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px double;
    border-color: white;
    color: white;
    text-shadow: 1px 2px 4px black;
    box-shadow: 2px 4px 4px white;
}
